---
layout: page
title: 首页
tagline: 数字营销探索与学习
---
{% include JB/setup %}
<pre><code>发一条广告：出售无限流量的美国VPN，价格是100元/年，需要的请联系我的QQ：1024549887，支付宝付款，3天内无条件免费退款，只卖10个，售完即止。你可以用来看youtube、上twitter、facebook等。 我不是专业搞VPN销售的。这个VPN是基于我一个闲置的美国VPS搭建的，总共每个月有2TB的流量，即人均有200G，正常使用足够了，相当于是无限制。 暂时只支持L2TP协议，谷歌一下你就知道这个协议在安全、简单、通用、速度等方面的综合表现是最佳的。使用方法网上也有很多教程，不用安装软件，支持iPhone、iPad、Android、Mac、Windows。我自己也天天在用，保证稳定和速度。 为了保证持续性和稳定性，不得做违法的事，不得共享账号，不得进行P2P下载等违反一般合理正常使用原则，违反一经发现立即删号不退款。 祝大家5.1快乐，抱歉打搅了。</code></pre>
<pre><code>作者：肖庆 <a href="https://googlerecords.starttest.com?code=I007EFF6F0164F4670275F8740664F267E4C14E40" target="_blank">Google Analytics及AdWords官方认证</a> 联系方式：g#xiaoq.in <a href="http://weibo.com/1282922154" target="_blank">关注微博</a> <a href="http://blog.xiaoq.in/rss.xml" target="_blank">订阅博客</a> <br>温馨提示：博客已经迁移至此，微信公众平台同步更新，欢迎订阅，订阅号：xiaoq-in</code></pre>
<ul class="posts">
  {% for post in paginator.posts %}
    <li><span>{{ post.date | date: "%Y-%m-%d" }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}" target="_blank">{{ post.title }}</a></li>
  {% endfor %}
</ul>
<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; 上一页</a>
  {% else %}
    <span>&laquo; 上一页</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页 &raquo;</a>
  {% else %}
    <span>下一页 &raquo;</span>
  {% endif %}
</div>
{% endif %}
