---
layout: page
title: 首页
tagline: 数字营销探索与学习
---
{% include JB/setup %}
<pre><code>作者：肖庆 <a href="https://googlerecords.starttest.com?code=I007EFF6F0164F4670275F8740664F267E4C14E40" target="_blank">Google Analytics及AdWords官方认证</a>，微信订阅号：xiaoq-in 联系邮箱：g#xiaoq.in <a href="http://weibo.com/1282922154" target="_blank">关注微博</a> <a href="http://blog.xiaoq.in/rss.xml" target="_blank">订阅博客</a></code></pre>
<ul class="posts">
  {% for post in paginator.posts %}
    <li><span>{{ post.date | date: "%Y-%m-%d" }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}" target="_blank">{{ post.title }}</a></li>
  {% endfor %}
</ul>
<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; 上一页</a>
  {% else %}
    <span>&laquo; 上一页</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页 &raquo;</a>
  {% else %}
    <span>下一页 &raquo;</span>
  {% endif %}
</div>
{% endif %}
